body{
    padding: 2%;
}

h1 , h2 {
    background-color: orangered ;
    text-align: center;
   
}


p {
    color: maroon;
    font-family:'Times New Roman', Times, serif;

}



img {
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 300px;
}

p:last-of-type {
    background-color: cornflowerblue;
}


