body{
    margin: 2%;
}

h1 {
    background-color: orangered ;
    text-align: center;
   
}


p {
    color: maroon;
    font-family: 'Times New Roman';

}

.image {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    
}

.image img {
    width: 100%;
    height: 100%;
}


