.taskk {
    text-align: center;
    
}


.wapper{
    width: 65%;
    height: 100%;
    margin: 0 auto;
}

ul {
    background-color: orangered;
    list-style-type:none;
    padding: 3px;


}

li {
    display: inline-block;
	padding: 14px 9px;
	font-size:18px;
	color:black;
   
}

.Aboutcard {
    
    width: 100%;
    height: 95%;
    padding: 0px 40px 10px 0px;
    display: flex;
    align-content: space-around;
    justify-content: center;
}

.card {

    width: 350px;
    height: 420px;
    border: 2px solid #c9c9c9;
}

img {
    width: 100%;
    height: 60%;
}

h2 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

button {
    float: left;
    margin: 6px 295px ;
    padding:6px;
    background-color: orangered;
    border-radius: 6px ;
    border: 5px solid black; /* Green */
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;


}

.linkk {
    text-decoration: none;
    color: #000;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.linkk:hover { 
    color: white;
  }



p {
      display: inline-block;

  }

footer {
    text-align: center;
}