body {
    margin: auto;
    width: 65% ;
}

img {
    margin: 0 auto;
    width: 100% ;

}

ul {
    list-style-type: none;
    padding: 3%;
    background-color: orangered;
    
}

    

li {
    display: inline;
    border-right: 20px  ;
    
    
    
}

li.lastchild {
    border: none;
}

a {
    text-decoration: none;
    color: #000;
}

li a:hover{
color : white;
}

.images {
    display: flex;
    flex-direction: row ;
   
    
    
   
}

.images section {
    border: 1px solid #ccc;
    
    padding-bottom: 130px;
  
   
}


.images img {

    width: 160px;
    height: 100%;
}
    


h4 #para {
    color: #000;

    
}


button {
    float: right;
    background-color: orangered;
    border-radius: 4px;
    border: 2px solid black;

}

.footer h6 {
    display: inline;
    padding: 3%;
    padding-bottom: 20%;
    padding-top: 10% ;
    
}

.footer a {
    color: blue;
}

